
.aboutmain{
  position:fixed;
  height:100%;
  width:100%;
  margin-top:0vh;
  margin:0%;
  padding:0px;
  overflow:auto;
  background: url('../../static/hexmap_background.png') no-repeat ;
  background-image: url('../../static/hexmap_background.png') no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.textDiv{
  margin-left:20%;
  margin-top:10vh;
  margin-bottom:20vh;
  background-color: rgba(0,0,0,0.65);
  width:60% 
}

@media only screen and (max-width: 384px) {
  .textDiv{
      margin:auto;
      width:80%;
      background-color: rgba(0,0,0,0.65);
      margin-bottom:2vh;
  }




}