.appDiv {
  /* position: fixed;
  width:100%; */
  height:100%; 
  position:fixed;
  width:auto;
  /* height:auto; */
  margin:0%;
  padding:0px;
  /* background-color: rgb(79, 207, 207); */

  /* background: url('./static/hexmap_background.png') no-repeat ; */
    /* center center fixed;  */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed; */
}

