
.servicesmain{
  position:fixed;
  width:100%;
  height:100%;
  margin-top:0vh;
  margin:0%;
  padding:0px;
  overflow:auto;
  background: url('../../static/hexmap_background.png') no-repeat ;
  background-image: url('../../static/hexmap_background.png') no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* .textDiv{
  margin-left:20%;
  margin-top:1%;
  
  margin-bottom:0vh;
  padding-bottom:1vh;
  background-color: rgba(255, 13, 13, 0.65);
  width:90% ;
  height:100%;
} */


.arrow{
  width:1.5rem;

  margin-left: 1vw;
  margin-right: 0vw;
  margin-top: .25vw;
}
@media only screen and (max-width: 384px) {
  .textDiv{
      margin:auto;
      width:80%;
      background-color: rgba(0,0,0,0.65);
      margin-bottom:2vh;
  }




}