
.footerDiv{
    font-family: "Hind Guntur", sans-serif;
    position:fixed;
    top:94.5%;
    margin-left:0vw;
    height:6%;
    font-weight: 500;
    box-sizing: border-box;
    width: 100%;
    padding-top:1.5vh;
    background-color: #050505;
}



@media only screen and (max-height: 950px) {
    .footerDiv{
        font-family: "Hind Guntur", sans-serif;
        position:fixed;
        top:92.5%;
        margin-left:0vw;
        height:8%;
        font-weight: 500;
        box-sizing: border-box;
        padding-top:1.5vh;
        width: 100%;
        background-color: #050505;
    }

}
@media only screen and (max-width: 384px) {
    .footerDiv{
        padding-left:9%;
        text-align: center;
        font-family: "Hind Guntur", sans-serif;
        position:fixed;
        top:92.5%;
        margin-left:0vw;
        /* height:2vh; */
        font-weight: 500;
        box-sizing: border-box;
        padding-top:2vh;
        width: 100%;
        background-color: #050505;
    }
}
    @media only screen and (max-height: 384px) {
        .footerDiv{
            padding-left:1%;
            text-align: center;
            font-family: "Hind Guntur", sans-serif;
            position:fixed;
            top:92.5%;
            margin-left:0vw;
            font-weight: 500;
            box-sizing: border-box;
            padding-top:.22vh;
            width: 100%;
            background-color: #050505;
        }



}