

.navImg{
    margin-left:1vw;
    margin-top:1vh;
    margin-bottom:1vh;
    width:3%;
}   


.headerlink{
    color:white;
    font-size:1rem;
    font-weight:700;
    padding-Left:0%;
    padding-Right:0%;
    margin-Left:2vw;
    margin-Right:3vw;
    margin-top:3.5vh;
    margin-bottom:.5vw;
}


@media only screen and (max-height: 950px) {
    .headerlink{
        color:white;
        font-size:1rem;
        font-weight:700;
        padding-Left:0%;
        padding-Right:0%;
        margin-Left:2vw;
        margin-Right:3vw;
        margin-top:4vh;
        margin-bottom:.5vw;
    }
    .navImg{
        width:50px;
        /* height:auto */
    }

}


@media only screen and (max-width: 384px) {
    .navImg{
        margin-top:1vh;
        margin-bottom:1vh;
    }   

    .headerlink{
        color:white;
        font-size:.71rem;
        font-weight:700;
        padding-Left:0%;
        padding-Right:0%;
        margin-Left:2vw;
        margin-Right:3vw;
        margin-top:3vh;
        margin-bottom:.5vw;

    }
}

@media only screen and (max-height: 384px) {
    .headerlink{
        color:white;
        font-size:1rem;
        font-weight:700;
        padding-Left:0%;
        padding-Right:0%;
        margin-Left:2vw;
        margin-Right:3vw;
        margin-top:6vh;
        margin-bottom:.5vw;
    }
    .navImg{
        width:50px;
        /* height:auto */
    }

}
