
.projectsmain{
  position:fixed;
  height:100%;
  width:100%;
  margin-top:0vh;
  margin:0%;
  padding:0px;
  overflow:auto;
  background: url('../../static/hexmap_background.png') no-repeat ;
  background-image: url('../../static/hexmap_background.png') no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.GladisLogo{
  width:100%;
}
.NudgeLogo{
  width:70%;
}
.GladisTitle{
  color:white;
}
.GladisTagline{
  color:white;
}

.contentDiv{
  position:absolute;
  top:0vh;
  margin-left:0;
  margin-top:0vh;
  margin-bottom:0vh;
  background-color:rgba(0,0,0,0.65);
  width:100%
}
.gladisDiv{
  height:100%;
  display:flex;
  padding:0;
  flex-direction: row;
  /* background-color: antiquewhite; */
}

.imgDiv{
  height:min-content;
  padding:0;
  margin-left:12vw;
  margin-top:12vh;
  /* background-color: aquamarine; */
}
.nudgeImgDiv{
  height:min-content;
  padding:0;
  margin-right:14vw;
  margin-top:25vh;
  /* background-color: aquamarine; */
}
.titleDiv{
  height:min-content;
  width: 40%;
  margin:auto;
  margin-left:2vw;
  margin-top:25vh;
  padding-left:1vw;
  /* background-color: rgb(77, 79, 79); */
}

.nudgeDiv{
  display:flex;
  padding:0;
  flex-direction: row;
  margin-bottom: 15vh;
}

.nudgeTitleDiv{
  text-align: right;
  height:min-content;
  width: 44%;
  margin:auto;
  margin-right:0;
  margin-left:8vw;
  margin-top:31vh;
  padding-left:1vw;
  /* background-color: rgb(77, 79, 79); */
}

.nudgeText{
  text-align: right;
  color:white;
  font-size: .95rem;
}

.gladisText{ 
  color:white;
  margin-left:'0vw';
  margin-right:'0vw';
  margin-bottom:'0vh';
  padding:'auto';
  padding-bottom:'2vh';
  text-align:'left'
}

@media only screen and (max-width: 384px) {

  .contentDiv{
    display: block;
    position:absolute;
    top:0vh;
    left:10%;
    margin:auto;
    background-color:rgba(0,0,0,0.65);
    width:80%
  }
  .gladisDiv{
    height:100%;
    display:flex;
    padding:0;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 25vh;
    /* background-color: antiquewhite; */
  }
  .imgDiv{
    height:min-content;
    width:60%;
    padding:0;
    margin-bottom:1vh;
    margin-top:0vh;
    margin-left:20%;
    
    /* background-color: aquamarine; */
  }

  .titleDiv{
    /* height:min-content; */
    width: 90%;

    margin-left:5%;
    margin-right:5%;
    margin-top:0vh;
    margin-bottom:1vh;
    /* padding-left:1vw;
    padding-right:1vw; */
    /* background-color: rgb(77, 79, 79); */
  }

  .GladisTitle{
    text-align: center;
    color:white;
    font-size: 1rem;
  }

  .GladisTagline{
    text-align: center;
    color:white;
    font-size: .8rem;
    font-weight:700;
  }
  .gladisText{
    margin-left:.75vw;
    margin-right:1vw;
    text-align: center;
    font-size:'2px';
    color:rgb(251, 241, 241);
  }

  .nudgeDiv{
    display:flex;
    padding:0;
    flex-direction: column-reverse;
    margin-bottom: 15vh;
    margin-top:0;

    /* background-color: rgb(42, 110, 165); */
  }

  .nudgeImgDiv{
    height:min-content;
    padding-top:0;
    width:80%;
    margin-right:14vw;
    margin-top:0vh;
    margin-left:10%;
    /* background-color: aquamarine; */
  }

  .nudgeTitleDiv{

    text-align: right;
    height:min-content;
    width: 80%;
    /* margin:auto; */
    margin-right:0;
    margin-left:8vw;
    margin-top:2vh;
    padding-left:1vw;
    /* background-color: rgb(77, 79, 79); */
    margin-bottom: 15vh;
  }
  .NudgeLogo{
    width:80%;
  }
  .nudgeText{
    text-align: center;
    color:white;
    font-size: .95rem;
  }
}

@media only screen and (max-height: 384px) {
  .imgDiv{
    height:min-content;
    width:20%;
    padding:0;
    margin-bottom:1vh;
    margin-top:12vh;
    margin-left:20%;
    
    /* background-color: aquamarine; */
  }

  
  .titleDiv{
    text-align: right;
    height:min-content;
    margin-right:0;
    margin-left:1vw;
    margin-top:24vh;
    padding-left:1vw;
    /* background-color: rgb(77, 79, 79); */

  }
  .GladisTitle{
    margin-top:0;
    text-align: center;
    color:white;
    font-size: 1rem;
  }

  .GladisTagline{
    text-align: center;
    color:white;
    font-size: .8rem;
    font-weight:700;
  }

  .nudgeImgDiv{
    margin-top:0%;
    height:24%;
    width:25%;
  }

  .nudgeDiv{
    height:100%;
    display:flex;
    padding-top:20%;
    padding-bottom:6%;
    /* flex-direction: column-reverse; */
    margin-bottom: 12vh;
    margin-top:12%;

    /* background-color: rgb(42, 110, 165); */
  }
  .nudgeTitleDiv{
    margin-top:25vh;
    text-align: right;
    margin-right:4vw;
    margin-left:10vw;
    /* margin-top:20vh; */
    padding-left:1vw;
    /* background-color: rgb(77, 79, 79); */
  }

  .NudgeLogo{
    width:90%;
  }
}


/* style={{fontSize:'1em',color:'white', marginLeft:'0vw',marginRight:'0vw',marginBottom:'0vh',padding:'auto',paddingBottom:'2vh',textAlign:'right'}} */