.mapmain{
  position:fixed;
  height:86%;
  width:100%;
  margin:0%;
  margin-top:0vh;
  padding:0px;
}
.layerGroup{
  background-color:rgb(255, 255, 255);
  margin-top:2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:4vh;
  width:12vw;
  border-style:solid;
  border-radius:10px;
  border-color:black;
  z-index: 999;
}

.resultList{
  background-color:rgb(255, 255, 255);
  margin-top:2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-left:1vw;
  padding-right:1vw;
  width:12vw;
  border-style:solid;
  border-radius:10px;
  border-color:black

}
.searchGroup{
  background-color:rgb(255, 255, 255);
  margin-top:2vh;
  margin-bottom:3vh;
  padding-left: 1vw;
  padding-right: 1vw;
  /* height:min-content; */
  width:12vw;
  border-style:solid;
  border-radius:10px;
  border-color:black

}
.drawPolyGroup{
  background-color:rgb(255, 255, 255);
  margin-top:2vh;
  margin-bottom:3vh;
  padding-left: 1vw;
  padding-right: 1vw;
  /* height:min-content; */
  width:12vw;
  border-style:solid;
  border-radius:10px;
  border-color:black

}
@media only screen and (max-height: 950px) {
  .mapmain{
    position:fixed;
    height:81%;
    width:100%;
    margin:0%;
    margin-top:0vh;
    padding:0px;
  }

  .layerGroup{
    width:18vw;
    height:5vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left:1vw;
    border-style:solid;
    border-radius:1em;
    border-color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
  }
}

@media only screen and (max-width: 384px) {
  .mapmain{
    position:fixed;
    height:84%;
    width:100%;
    margin:0%;
    margin-top:0vh;
    padding:0px;
    background-color: aqua;
  }

  .layerGroup{
    /* width:28vw; */
    height:10vh;
    padding-left:1vw;
    border-style:solid;
    border-radius:1em;
    border-color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
  }
}

@media only screen and (max-height: 384px) {
  .mapmain{
    position:fixed;
    height:81%;
    width:100%;
    margin:0%;
    margin-top:0vh;
    padding:0px;
  }

  .layerGroup{
    width:28vw;
    height:6.25vh;
    padding-left:1vw;
    border-style:solid;
    border-radius:1em;
    border-color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
  }
}


