<html>
<head>
    <meta charset='utf-8' />
    <title>GLADIS title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/title.css') }}">
</head>
<body>

<img src="..\static\images\GLADIS.png">
<h1 class ="title">GEOFENCING LIVE ASSET DISPLAY & INTERFACE SYSTEM</h1>
</body>
</html>