@font-face { font-family: roboto-regular; 
  src: url('../../static/Koulen-Regular.ttf'); }


img {
  width:25%;
  margin-top: 2vh;
  margin-bottom:0%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* background-color: aquamarine; */
  /* justify-content: center; */
  /* align-items: center; */
}



.title {
  margin-top: 1vh;
  margin-bottom:1vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(246, 248, 248);
  font-size: 70px;
}
.sub-title {
  margin-top: .5vh;
  padding-top:0vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:2vh;
  text-align: center;
  color: rgb(227, 230, 232);
  font-size: 50px;

}
.main{
  position:fixed;
  height:100%;
  width:100%;

  background: url('../../static/hexmap_background.png') no-repeat ;
  background-image: url('../../static/hexmap_background.png') no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media only screen and (max-height: 950px) {
  .splashLogo{
      width:20%
  }
  .title {
    margin-top: 1vh;
    margin-bottom:1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
  }
  .sub-title {
    margin-top: .5vh;
    padding-top:0vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2vh;
    text-align: center;
    color: rgb(227, 230, 232);
    font-size: 50px;
  
  }
  }


  @media only screen and (max-width: 384px) {

    .main{
      position:fixed;
      /* height:100%; */
      width:100%;
      margin-top:0vh;
      margin:0%;
      padding:0px;
      background: url('../../static/hexmap_background.png') no-repeat ;
      background-image: url('../../static/hexmap_background.png') no-repeat ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .splashLogo{
      margin-top:10vh;
      width:70%
  }

  .title {
    margin-top: 1vh;
    margin-bottom:4vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  .sub-title {
    margin-top: .5vh;
    padding-top:0vh;
    padding-left:.7vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2vh;
    text-align: center;
    color: rgb(227, 230, 232);
    font-size: 30px;
  
  }
  }

  @media only screen and (max-height: 384px) {

    .main{
      position:fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width:100%;
      height: 76%;
      /* margin-top:0vh; */
      /* margin:0%;
      padding:0px; */
      background: url('../../static/hexmap_background.png') no-repeat ;
      background-image: url('../../static/hexmap_background.png') no-repeat ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      justify-content: center;
      align-items: center;
    }
    .splashLogo{
      margin-top:0vh;
      width:18%
    }
    img {
      display: block;
      margin-top: 1vh;
      margin-left: auto;
      margin-right: auto;
    }

    .title {

      margin-left: auto;
      margin-right: auto;
      margin-top: 0vh;
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 40px;
    }
    .sub-title {
      position:'absolute';
      float:'left';
      margin-top: .5vh;
      padding-top:0vh;
      padding-left:.7vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:2vh;
      text-align: center;
      color: rgb(227, 230, 232);
      font-size: 20px;
    
    }
}